DistanceMatrix/DistanceMatrix.ConsoleApplication/Service References/DistanceMatrixService/DistanceMatrixService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DistanceMatrixService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" />
      <xsd:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Enums" />
      <xsd:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" />
      <xsd:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDistanceMatrixService_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_DistanceMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:DistanceMatrix" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_DistanceMatrix_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistanceMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_GetDistanceMatrixRequestHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceMatrixRequestHistory" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_GetDistanceMatrixRequestHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceMatrixRequestHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_GetRequestHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestHistory" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_GetRequestHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_ReplayRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplayRequest" />
  </wsdl:message>
  <wsdl:message name="IDistanceMatrixService_ReplayRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplayRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IDistanceMatrixService">
    <wsdl:operation name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceMatrixService/Heartbeat" message="tns:IDistanceMatrixService_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceMatrixService/HeartbeatResponse" message="tns:IDistanceMatrixService_Heartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DistanceMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceMatrixService/DistanceMatrix" message="tns:IDistanceMatrixService_DistanceMatrix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceMatrixService/DistanceMatrixResponse" message="tns:IDistanceMatrixService_DistanceMatrix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistanceMatrixRequestHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceMatrixService/GetDistanceMatrixRequestHistory" message="tns:IDistanceMatrixService_GetDistanceMatrixRequestHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceMatrixService/GetDistanceMatrixRequestHistoryResponse" message="tns:IDistanceMatrixService_GetDistanceMatrixRequestHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceMatrixService/GetRequestHistory" message="tns:IDistanceMatrixService_GetRequestHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceMatrixService/GetRequestHistoryResponse" message="tns:IDistanceMatrixService_GetRequestHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplayRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceMatrixService/ReplayRequest" message="tns:IDistanceMatrixService_ReplayRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceMatrixService/ReplayRequestResponse" message="tns:IDistanceMatrixService_ReplayRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDistanceMatrixService" type="tns:IDistanceMatrixService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Heartbeat">
      <soap:operation soapAction="http://tempuri.org/IDistanceMatrixService/Heartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistanceMatrix">
      <soap:operation soapAction="http://tempuri.org/IDistanceMatrixService/DistanceMatrix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistanceMatrixRequestHistory">
      <soap:operation soapAction="http://tempuri.org/IDistanceMatrixService/GetDistanceMatrixRequestHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestHistory">
      <soap:operation soapAction="http://tempuri.org/IDistanceMatrixService/GetRequestHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplayRequest">
      <soap:operation soapAction="http://tempuri.org/IDistanceMatrixService/ReplayRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistanceMatrixService">
    <wsdl:port name="BasicHttpBinding_IDistanceMatrixService" binding="tns:BasicHttpBinding_IDistanceMatrixService">
      <soap:address location="http://localhost:63204/DistanceMatrixService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>