DistanceMatrix/DistanceMatrix.ConsoleApplication/Service References/DistanceMatrixService/DistanceMatrixService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Enums" />
  <xs:import schemaLocation="http://localhost:63204/DistanceMatrixService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" />
  <xs:complexType name="ServiceResponseOfdateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Enums" minOccurs="0" name="Error" type="q1:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Response" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfdateTime" nillable="true" type="tns:ServiceResponseOfdateTime" />
  <xs:complexType name="ServiceResponseOfDistanceMatrixResponse2vkm1OUS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DistanceMatrixResponse" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Enums" minOccurs="0" name="Error" type="q2:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q3:DistanceMatrixResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfDistanceMatrixResponse2vkm1OUS" nillable="true" type="tns:ServiceResponseOfDistanceMatrixResponse2vkm1OUS" />
  <xs:complexType name="ServiceResponseOfArrayOfRequestHistory2vkm1OUS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRequestHistory" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Enums" minOccurs="0" name="Error" type="q4:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q5:ArrayOfRequestHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfRequestHistory2vkm1OUS" nillable="true" type="tns:ServiceResponseOfArrayOfRequestHistory2vkm1OUS" />
  <xs:complexType name="ServiceResponseOfRequestHistory2vkm1OUS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestHistory" Namespace="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Enums" minOccurs="0" name="Error" type="q6:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DistanceMatrix.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q7:RequestHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfRequestHistory2vkm1OUS" nillable="true" type="tns:ServiceResponseOfRequestHistory2vkm1OUS" />
</xs:schema>