Travel.Api/Travel.Api.ConsoleApplication/Service References/GoogleApiService/GoogleApiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ServiceError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InvalidArgument" />
      <xs:enumeration value="DistanceMatrixError" />
      <xs:enumeration value="ConfigurationError" />
      <xs:enumeration value="InvalidApiKey" />
      <xs:enumeration value="RequestDenied" />
      <xs:enumeration value="InvalidRequest" />
      <xs:enumeration value="MaxElementsExceeded" />
      <xs:enumeration value="OverQueryLimit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceError" nillable="true" type="tns:ServiceError" />
  <xs:simpleType name="Mode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Driving" />
      <xs:enumeration value="Walking" />
      <xs:enumeration value="Bicycling" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Mode" nillable="true" type="tns:Mode" />
  <xs:simpleType name="Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Imperial" />
      <xs:enumeration value="Metric" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Units" nillable="true" type="tns:Units" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="InvalidRequest" />
      <xs:enumeration value="MaxElementsExceeded" />
      <xs:enumeration value="OverQueryLimit" />
      <xs:enumeration value="RequestDenied" />
      <xs:enumeration value="UnknownError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:simpleType name="ElementStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="ZeroResults" />
      <xs:enumeration value="MaxRouteLengthExceeded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ElementStatus" nillable="true" type="tns:ElementStatus" />
</xs:schema>