Travel.Api/Travel.Api.ConsoleApplication/Service References/GoogleApiService/GoogleApiService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63204/GoogleApiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" />
  <xs:import schemaLocation="http://localhost:63204/GoogleApiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
  <xs:complexType name="ServiceResponseOfdateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q1:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Response" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfdateTime" nillable="true" type="tns:ServiceResponseOfdateTime" />
  <xs:complexType name="ServiceResponseOfDistanceMatrixResponseiv_S3dj_Pg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DistanceMatrixResponse" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q2:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q3:DistanceMatrixResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfDistanceMatrixResponseiv_S3dj_Pg" nillable="true" type="tns:ServiceResponseOfDistanceMatrixResponseiv_S3dj_Pg" />
  <xs:complexType name="ServiceResponseOfDirectionsResponseiv_S3dj_Pg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DirectionsResponse" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q4:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q5:DirectionsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfDirectionsResponseiv_S3dj_Pg" nillable="true" type="tns:ServiceResponseOfDirectionsResponseiv_S3dj_Pg" />
  <xs:complexType name="ServiceResponseOfElevationResponseiv_S3dj_Pg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ElevationResponse" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q6:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q7:ElevationResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfElevationResponseiv_S3dj_Pg" nillable="true" type="tns:ServiceResponseOfElevationResponseiv_S3dj_Pg" />
  <xs:complexType name="ServiceResponseOfArrayOfRequestHistoryiv_S3dj_Pg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRequestHistory" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q8:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q9:ArrayOfRequestHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfRequestHistoryiv_S3dj_Pg" nillable="true" type="tns:ServiceResponseOfArrayOfRequestHistoryiv_S3dj_Pg" />
  <xs:complexType name="ServiceResponseOfRequestHistoryiv_S3dj_Pg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestHistory" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q10:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q11:RequestHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfRequestHistoryiv_S3dj_Pg" nillable="true" type="tns:ServiceResponseOfRequestHistoryiv_S3dj_Pg" />
  <xs:complexType name="ServiceResponseOfDeleteRequestHistoryResponseiv_S3dj_Pg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeleteRequestHistoryResponse" Namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Enums" minOccurs="0" name="Error" type="q12:ServiceError" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="Response" nillable="true" type="q13:DeleteRequestHistoryResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfDeleteRequestHistoryResponseiv_S3dj_Pg" nillable="true" type="tns:ServiceResponseOfDeleteRequestHistoryResponseiv_S3dj_Pg" />
</xs:schema>