Travel.Api/Travel.Api.ConsoleApplication/Service References/GoogleApiService/GoogleApiService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63204/GoogleApiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" />
  <xs:import schemaLocation="http://localhost:63204/GoogleApiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" />
  <xs:import schemaLocation="http://localhost:63204/GoogleApiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="HeartbeatResult" nillable="true" type="q1:ServiceResponseOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistanceMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="distanceMatrixRequest" nillable="true" type="q2:DistanceMatrixRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistanceMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="DistanceMatrixResult" nillable="true" type="q3:ServiceResponseOfDistanceMatrixResponseiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Directions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="directionsRequest" nillable="true" type="q4:DirectionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="DirectionsResult" nillable="true" type="q5:ServiceResponseOfDirectionsResponseiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elevation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Travel.Api.Domain.Models" minOccurs="0" name="elevationRequest" nillable="true" type="q6:ElevationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElevationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="ElevationResult" nillable="true" type="q7:ServiceResponseOfElevationResponseiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistanceMatrixRequestHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistanceMatrixRequestHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="GetDistanceMatrixRequestHistoryResult" nillable="true" type="q8:ServiceResponseOfArrayOfRequestHistoryiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="GetRequestHistoryResult" nillable="true" type="q10:ServiceResponseOfRequestHistoryiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequestHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequestHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="DeleteRequestHistoryResult" nillable="true" type="q12:ServiceResponseOfDeleteRequestHistoryResponseiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplayRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Travel.Api.Core.Framework" minOccurs="0" name="ReplayRequestResult" nillable="true" type="q14:ServiceResponseOfDistanceMatrixResponseiv_S3dj_Pg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>